.container {
    
    align-items: center;  
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 42%;
    margin-top: 13%;
}

body{
        background-image: url('/1596394453-shrekfierce.png');
        background-size:auto;      /* Faz a imagem cobrir toda a tela */
        background-position:top; /* Centraliza a imagem */
        background-repeat: no-repeat;/* Evita que a imagem se repita */
        margin: 0;                   /* Remove margens padrão */
        font-family: Arial, sans-serif; /* Define uma fonte padrão */
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color:white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: white;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{

    background-color: #218838;
}

#message{

    margin-top: 15px;
    text-align: center;
}